/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: white;
  line-height: 1;
  color: black;
}
ol,
ul {
  list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}


/* !------------------    Page style -----------------! */

/* !----- header -------! */

body h1{
  padding:.8rem 1rem;

  color: cyan;
  background-color: black;

  font-size: 1.8rem;
  font-weight: bolder;
}


/* !----- Main Section of Page -------! */


/* component of page */
.global__main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}


  /* responsive design  */
  @media only screen and (max-width: 800px) {
    .global__main {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2,minmax(80vh,100vh));
      grid-template-areas: "grid" "option";
    }
    .main__menu{
      grid-area: option;
    }
    
    .main__content{
      grid-area:grid;
    }
  }


/* left side options menu */
.main__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.options__container {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.option {
  padding: 1rem 0.4rem;
  width: 40%;
}

/* global button */
.global__btn{
    width: 100%;
    padding: .6rem .8rem;
    background-color: cyan;
    color: rgb(255 255 255);
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.global__btn:hover,
.global__btn:active{
  background-color: #000;
  transform: scale(1.2);
}

/* color picker */
input[type="color"] {
  padding: none;
  padding: 0;
  background: none;
  border-style: none;
  border: none;

  display: block;
  margin: auto;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

/* Range slider */
input[type="range"] {
  display: block;
  margin: auto;
}

.option--range {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.option--range div {
  padding: 0.4rem 0.2rem;
}

.option > button {
  width: 100%;
  padding: 0.6rem 0.8rem;
}



/* right side panel  */
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dyanamic Canvas */
.canvas-container {
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 1rem;

  /* initial value */
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(16,1fr);
  
}



/* !----- footer of page -----------! */

.global__footer{
  margin-top:1rem;
  padding:.5rem;
  background-color: black;
  color:#fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.global__footer a{
  color:cyan;
  font-weight: bold;
  text-decoration: none;
}
.global__footer a:hover{
  text-decoration: underline;
}
